/* General Styles */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.footer-section {
    padding: 20px 0;
    background-color: #343a40;
    color: #fff;
}




.carousel-caption {
    z-index: 10;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.carousel-inner img {
    width: 30%;
    height: auto;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 90vh;
    align-items: center;
}

.carousel-item img {
    max-height: 100vh;
    object-fit: cover;
}

.carousel-caption h1,
.carousel-caption h2,
.carousel-caption p {
    color: white;
}

.carousel-caption .Caracteristicas li {
    color: black; /* Cambia "black" al color que desees */
}

.carousel-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Ajusta la opacidad según tus necesidades */
}



/* Adjustments for Carousel Images */
.carousel-item img {
    height: 100%;
    width: 100%;
}
.bg-image-estudiosEsctructurales {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://live.staticflickr.com/65535/53876460501_243c137aa2_b.jpg ');
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar{
    background: linear-gradient(to right, #100101, #357e1c); /* Degradado de izquierda a derecha */

}
#Trabajos{
    padding-top: 80px;
}
#Servicios{
    padding-top: 80px;
}
#Servicios{
    padding-top: 80px;
}
#Organigrama{
    padding-top: 80px;
}
#Contacto{
    padding-top: 80px;
}
#Contacto{
    background: linear-gradient(to right, #100101, #357e1c); /* Degradado de izquierda a derecha */
    height: 90vh;

}